@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161616;
}

.coin {
  display: flex;
  width: 460px;
  height: 80px;
  border-radius: 8px;
  margin: 38px 0;
  font-family: 'Mukta', sans-serif;
}

.coin .coin-logo {
  width: 88px;
  height: 100%;
  display: grid;
  place-items: center;
}